body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}

/* 16px= 100%= 1em= 1rem where rem wont add the font size to the parent's font size*/
h1 {
  margin-top: 50px;
  margin-bottom: 0px;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: bolder;
  /* 40px 250% wont add to 2 rem of body(parent) size*/
}

.caption {
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
  font-weight: 900;
}

a {
  color: #11999e;
  margin: 10px 30px;
  text-decoration: none;
}

a:hover {
  color: white;
}

/*
div {
  background-color: #e4f9f5;
}*/
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding: 100px 0 100px;
}

.middle-container {
  background-color: #faebd7;
  padding: 20px;
  margin: 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}


.top-cloud {
  position: absolute;
  top: 30px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile {
  width: 75%;
  margin: 100px auto;
  text-align: center;
  line-height: 2;
}

.contacttxt {
  width: 75%;
  margin: 100px auto;
  text-align: center;
  line-height: 2;
}

.skill-row {
  width: 75%;
  margin: 100px auto;
  text-align: justify;
  line-height: 2;
}

.img1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.img3 {
  width: 30%;
}

.clr1 {
  clear: left;
}

.clr2 {
  clear: right;
}

.txt {
  color: #40514e;
}

hr {
  color: grey;
  border-width: thick;
  width: 10%;
  margin: 100px auto;
  border-style: dotted none none none;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  bottom: 70px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.foot {
  color: #eaf6f6;
  font-size: 0.8rem;
}
